img {
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-clip-path: polygon(45% 62%, 20% 84%, 86% 78%, 26% 13%, 8% 95%, 30% 60%, 40% 43%, 2% 77%, 87% 96%, 95% 100%, 41% 29%, 78% 98%);
    clip-path: polygon(45% 62%, 20% 84%, 86% 78%, 26% 13%, 8% 95%, 30% 60%, 40% 43%, 2% 77%, 87% 96%, 95% 100%, 41% 29%, 78% 98%);
    -webkit-animation: sorrycat 30s ease-in-out infinite alternate;
    animation: sorrycat 30s ease-in-out infinite alternate;
}
@-webkit-keyframes sorrycat {
    0% {
        -webkit-filter: invert(0%);
        filter: invert(0%);
    }
    1% {
        -webkit-clip-path: polygon(74% 12%, 74% 21%, 26% 75%, 60% 39%, 68% 45%, 57% 78%, 83% 50%, 93% 51%, 67% 49%, 73% 93%, 45% 36%, 90% 85%);
        clip-path: polygon(74% 12%, 74% 21%, 26% 75%, 60% 39%, 68% 45%, 57% 78%, 83% 50%, 93% 51%, 67% 49%, 73% 93%, 45% 36%, 90% 85%);
    }
    2% {
        -webkit-clip-path: polygon(86% 65%, 1% 92%, 79% 97%, 81% 44%, 36% 10%, 79% 67%, 75% 80%, 80% 39%, 52% 24%, 45% 51%, 9% 42%, 91% 51%);
        clip-path: polygon(86% 65%, 1% 92%, 79% 97%, 81% 44%, 36% 10%, 79% 67%, 75% 80%, 80% 39%, 52% 24%, 45% 51%, 9% 42%, 91% 51%);
    }
    3% {
        -webkit-clip-path: polygon(66% 88%, 79% 88%, 68% 92%, 95% 85%, 37% 67%, 23% 8%, 99% 31%, 50% 75%, 35% 55%, 29% 3%, 37% 16%, 88% 9%);
        clip-path: polygon(66% 88%, 79% 88%, 68% 92%, 95% 85%, 37% 67%, 23% 8%, 99% 31%, 50% 75%, 35% 55%, 29% 3%, 37% 16%, 88% 9%);
    }
    4% {
        -webkit-clip-path: polygon(33% 39%, 53% 83%, 49% 6%, 19% 46%, 15% 98%, 100% 99%, 23% 53%, 92% 48%, 20% 64%, 51% 16%, 31% 72%, 47% 51%);
        clip-path: polygon(33% 39%, 53% 83%, 49% 6%, 19% 46%, 15% 98%, 100% 99%, 23% 53%, 92% 48%, 20% 64%, 51% 16%, 31% 72%, 47% 51%);
    }
    5% {
        -webkit-clip-path: polygon(68% 41%, 65% 81%, 84% 27%, 61% 3%, 78% 96%, 38% 44%, 47% 30%, 54% 61%, 19% 48%, 2% 99%, 99% 53%, 39% 44%);
        clip-path: polygon(68% 41%, 65% 81%, 84% 27%, 61% 3%, 78% 96%, 38% 44%, 47% 30%, 54% 61%, 19% 48%, 2% 99%, 99% 53%, 39% 44%);
    }
    6% {
        -webkit-clip-path: polygon(90% 82%, 80% 94%, 7% 73%, 98% 54%, 7% 53%, 86% 77%, 54% 64%, 88% 22%, 52% 1%, 72% 29%, 55% 67%, 82% 61%);
        clip-path: polygon(90% 82%, 80% 94%, 7% 73%, 98% 54%, 7% 53%, 86% 77%, 54% 64%, 88% 22%, 52% 1%, 72% 29%, 55% 67%, 82% 61%);
    }
    7% {
        -webkit-clip-path: polygon(32% 1%, 71% 55%, 50% 20%, 29% 86%, 52% 62%, 81% 49%, 93% 26%, 67% 36%, 90% 92%, 100% 28%, 97% 87%, 18% 89%);
        clip-path: polygon(32% 1%, 71% 55%, 50% 20%, 29% 86%, 52% 62%, 81% 49%, 93% 26%, 67% 36%, 90% 92%, 100% 28%, 97% 87%, 18% 89%);
    }
    8% {
        -webkit-clip-path: polygon(10% 19%, 93% 86%, 22% 59%, 67% 86%, 60% 24%, 30% 27%, 25% 13%, 36% 4%, 97% 36%, 74% 77%, 2% 33%, 77% 30%);
        clip-path: polygon(10% 19%, 93% 86%, 22% 59%, 67% 86%, 60% 24%, 30% 27%, 25% 13%, 36% 4%, 97% 36%, 74% 77%, 2% 33%, 77% 30%);
    }
    9% {
        -webkit-clip-path: polygon(86% 31%, 61% 56%, 19% 78%, 48% 58%, 21% 3%, 50% 21%, 41% 79%, 97% 40%, 26% 24%, 17% 40%, 26% 87%, 66% 55%);
        clip-path: polygon(86% 31%, 61% 56%, 19% 78%, 48% 58%, 21% 3%, 50% 21%, 41% 79%, 97% 40%, 26% 24%, 17% 40%, 26% 87%, 66% 55%);
    }
    10% {
        -webkit-clip-path: polygon(12% 61%, 76% 54%, 13% 56%, 53% 1%, 100% 40%, 79% 88%, 74% 47%, 24% 97%, 46% 89%, 21% 57%, 15% 62%, 35% 84%);
        clip-path: polygon(12% 61%, 76% 54%, 13% 56%, 53% 1%, 100% 40%, 79% 88%, 74% 47%, 24% 97%, 46% 89%, 21% 57%, 15% 62%, 35% 84%);
    }
    11% {
        -webkit-clip-path: polygon(37% 51%, 99% 57%, 71% 6%, 37% 22%, 81% 88%, 86% 73%, 20% 77%, 89% 1%, 53% 92%, 45% 99%, 23% 27%, 94% 23%);
        clip-path: polygon(37% 51%, 99% 57%, 71% 6%, 37% 22%, 81% 88%, 86% 73%, 20% 77%, 89% 1%, 53% 92%, 45% 99%, 23% 27%, 94% 23%);
    }
    12% {
        -webkit-clip-path: polygon(83% 48%, 96% 57%, 88% 49%, 32% 89%, 45% 3%, 2% 5%, 30% 8%, 40% 40%, 25% 54%, 14% 21%, 32% 74%, 1% 69%);
        clip-path: polygon(83% 48%, 96% 57%, 88% 49%, 32% 89%, 45% 3%, 2% 5%, 30% 8%, 40% 40%, 25% 54%, 14% 21%, 32% 74%, 1% 69%);
    }
    13% {
        -webkit-clip-path: polygon(97% 58%, 33% 22%, 3% 52%, 49% 14%, 14% 53%, 8% 50%, 74% 51%, 73% 40%, 47% 47%, 46% 61%, 51% 85%, 2% 99%);
        clip-path: polygon(97% 58%, 33% 22%, 3% 52%, 49% 14%, 14% 53%, 8% 50%, 74% 51%, 73% 40%, 47% 47%, 46% 61%, 51% 85%, 2% 99%);
    }
    14% {
        -webkit-clip-path: polygon(78% 99%, 18% 30%, 98% 37%, 5% 83%, 27% 39%, 59% 16%, 92% 17%, 28% 86%, 1% 58%, 68% 87%, 88% 80%, 39% 13%);
        clip-path: polygon(78% 99%, 18% 30%, 98% 37%, 5% 83%, 27% 39%, 59% 16%, 92% 17%, 28% 86%, 1% 58%, 68% 87%, 88% 80%, 39% 13%);
    }
    15% {
        -webkit-clip-path: polygon(54% 6%, 75% 93%, 35% 90%, 57% 54%, 100% 71%, 45% 81%, 70% 11%, 98% 23%, 63% 9%, 78% 32%, 39% 16%, 18% 61%);
        clip-path: polygon(54% 6%, 75% 93%, 35% 90%, 57% 54%, 100% 71%, 45% 81%, 70% 11%, 98% 23%, 63% 9%, 78% 32%, 39% 16%, 18% 61%);
    }
    16% {
        -webkit-clip-path: polygon(71% 98%, 71% 89%, 77% 52%, 92% 71%, 28% 4%, 80% 94%, 23% 50%, 3% 88%, 34% 55%, 96% 96%, 66% 1%, 15% 89%);
        clip-path: polygon(71% 98%, 71% 89%, 77% 52%, 92% 71%, 28% 4%, 80% 94%, 23% 50%, 3% 88%, 34% 55%, 96% 96%, 66% 1%, 15% 89%);
    }
    17% {
        -webkit-clip-path: polygon(43% 87%, 87% 83%, 99% 70%, 28% 1%, 17% 37%, 91% 8%, 71% 87%, 70% 53%, 6% 86%, 58% 42%, 44% 54%, 25% 95%);
        clip-path: polygon(43% 87%, 87% 83%, 99% 70%, 28% 1%, 17% 37%, 91% 8%, 71% 87%, 70% 53%, 6% 86%, 58% 42%, 44% 54%, 25% 95%);
    }
    18% {
        -webkit-clip-path: polygon(52% 46%, 14% 37%, 29% 50%, 32% 85%, 97% 72%, 48% 67%, 34% 24%, 68% 21%, 13% 42%, 15% 26%, 29% 71%, 86% 28%);
        clip-path: polygon(52% 46%, 14% 37%, 29% 50%, 32% 85%, 97% 72%, 48% 67%, 34% 24%, 68% 21%, 13% 42%, 15% 26%, 29% 71%, 86% 28%);
    }
    19% {
        -webkit-clip-path: polygon(9% 80%, 41% 96%, 22% 78%, 18% 83%, 96% 58%, 39% 17%, 21% 50%, 20% 45%, 64% 29%, 74% 69%, 1% 16%, 43% 27%);
        clip-path: polygon(9% 80%, 41% 96%, 22% 78%, 18% 83%, 96% 58%, 39% 17%, 21% 50%, 20% 45%, 64% 29%, 74% 69%, 1% 16%, 43% 27%);
    }
    20% {
        -webkit-clip-path: polygon(52% 38%, 68% 11%, 44% 18%, 47% 54%, 18% 17%, 43% 73%, 6% 54%, 19% 32%, 77% 24%, 45% 17%, 8% 63%, 75% 40%);
        clip-path: polygon(52% 38%, 68% 11%, 44% 18%, 47% 54%, 18% 17%, 43% 73%, 6% 54%, 19% 32%, 77% 24%, 45% 17%, 8% 63%, 75% 40%);
    }
    21% {
        -webkit-clip-path: polygon(80% 91%, 93% 82%, 11% 6%, 22% 92%, 44% 72%, 96% 11%, 8% 33%, 93% 31%, 67% 96%, 10% 82%, 63% 87%, 1% 80%);
        clip-path: polygon(80% 91%, 93% 82%, 11% 6%, 22% 92%, 44% 72%, 96% 11%, 8% 33%, 93% 31%, 67% 96%, 10% 82%, 63% 87%, 1% 80%);
    }
    22% {
        -webkit-clip-path: polygon(53% 26%, 97% 39%, 98% 48%, 49% 95%, 44% 95%, 45% 33%, 62% 42%, 67% 6%, 66% 7%, 92% 75%, 33% 44%, 31% 34%);
        clip-path: polygon(53% 26%, 97% 39%, 98% 48%, 49% 95%, 44% 95%, 45% 33%, 62% 42%, 67% 6%, 66% 7%, 92% 75%, 33% 44%, 31% 34%);
    }
    23% {
        -webkit-clip-path: polygon(74% 8%, 87% 6%, 71% 19%, 44% 69%, 45% 77%, 82% 35%, 89% 100%, 15% 87%, 15% 11%, 21% 87%, 19% 53%, 66% 8%);
        clip-path: polygon(74% 8%, 87% 6%, 71% 19%, 44% 69%, 45% 77%, 82% 35%, 89% 100%, 15% 87%, 15% 11%, 21% 87%, 19% 53%, 66% 8%);
    }
    24% {
        -webkit-clip-path: polygon(1% 20%, 47% 45%, 39% 73%, 29% 61%, 7% 6%, 4% 66%, 3% 53%, 51% 89%, 84% 74%, 91% 19%, 85% 40%, 91% 24%);
        clip-path: polygon(1% 20%, 47% 45%, 39% 73%, 29% 61%, 7% 6%, 4% 66%, 3% 53%, 51% 89%, 84% 74%, 91% 19%, 85% 40%, 91% 24%);
    }
    25% {
        -webkit-clip-path: polygon(47% 71%, 35% 32%, 28% 84%, 70% 5%, 49% 94%, 20% 85%, 58% 8%, 44% 7%, 98% 70%, 52% 65%, 25% 19%, 8% 81%);
        clip-path: polygon(47% 71%, 35% 32%, 28% 84%, 70% 5%, 49% 94%, 20% 85%, 58% 8%, 44% 7%, 98% 70%, 52% 65%, 25% 19%, 8% 81%);
    }
    26% {
        -webkit-clip-path: polygon(58% 85%, 41% 43%, 8% 97%, 85% 98%, 76% 88%, 13% 6%, 10% 71%, 43% 61%, 80% 74%, 20% 38%, 34% 60%, 45% 3%);
        clip-path: polygon(58% 85%, 41% 43%, 8% 97%, 85% 98%, 76% 88%, 13% 6%, 10% 71%, 43% 61%, 80% 74%, 20% 38%, 34% 60%, 45% 3%);
    }
    27% {
        -webkit-clip-path: polygon(52% 91%, 78% 94%, 21% 29%, 38% 60%, 3% 22%, 78% 96%, 87% 72%, 6% 52%, 66% 34%, 57% 78%, 82% 70%, 89% 27%);
        clip-path: polygon(52% 91%, 78% 94%, 21% 29%, 38% 60%, 3% 22%, 78% 96%, 87% 72%, 6% 52%, 66% 34%, 57% 78%, 82% 70%, 89% 27%);
    }
    28% {
        -webkit-clip-path: polygon(15% 13%, 66% 95%, 31% 3%, 47% 53%, 50% 72%, 71% 40%, 51% 43%, 98% 63%, 38% 34%, 58% 54%, 38% 81%, 27% 85%);
        clip-path: polygon(15% 13%, 66% 95%, 31% 3%, 47% 53%, 50% 72%, 71% 40%, 51% 43%, 98% 63%, 38% 34%, 58% 54%, 38% 81%, 27% 85%);
    }
    29% {
        -webkit-clip-path: polygon(45% 16%, 20% 19%, 96% 21%, 25% 75%, 84% 55%, 81% 64%, 67% 25%, 47% 12%, 35% 28%, 62% 36%, 44% 60%, 6% 42%);
        clip-path: polygon(45% 16%, 20% 19%, 96% 21%, 25% 75%, 84% 55%, 81% 64%, 67% 25%, 47% 12%, 35% 28%, 62% 36%, 44% 60%, 6% 42%);
    }
    30% {
        -webkit-clip-path: polygon(60% 10%, 35% 71%, 30% 9%, 38% 65%, 52% 26%, 74% 69%, 61% 45%, 47% 57%, 46% 19%, 75% 65%, 30% 86%, 81% 87%);
        clip-path: polygon(60% 10%, 35% 71%, 30% 9%, 38% 65%, 52% 26%, 74% 69%, 61% 45%, 47% 57%, 46% 19%, 75% 65%, 30% 86%, 81% 87%);
    }
    31% {
        -webkit-clip-path: polygon(35% 99%, 83% 66%, 51% 63%, 72% 62%, 29% 91%, 4% 48%, 68% 39%, 48% 40%, 72% 96%, 86% 37%, 58% 77%, 38% 42%);
        clip-path: polygon(35% 99%, 83% 66%, 51% 63%, 72% 62%, 29% 91%, 4% 48%, 68% 39%, 48% 40%, 72% 96%, 86% 37%, 58% 77%, 38% 42%);
    }
    32% {
        -webkit-clip-path: polygon(77% 30%, 97% 52%, 75% 1%, 98% 25%, 59% 89%, 77% 86%, 59% 96%, 68% 86%, 29% 21%, 69% 91%, 40% 19%, 71% 75%);
        clip-path: polygon(77% 30%, 97% 52%, 75% 1%, 98% 25%, 59% 89%, 77% 86%, 59% 96%, 68% 86%, 29% 21%, 69% 91%, 40% 19%, 71% 75%);
    }
    33% {
        -webkit-clip-path: polygon(65% 12%, 78% 16%, 95% 56%, 77% 29%, 99% 13%, 90% 58%, 68% 52%, 68% 53%, 18% 28%, 8% 64%, 55% 29%, 87% 93%);
        clip-path: polygon(65% 12%, 78% 16%, 95% 56%, 77% 29%, 99% 13%, 90% 58%, 68% 52%, 68% 53%, 18% 28%, 8% 64%, 55% 29%, 87% 93%);
    }
    34% {
        -webkit-clip-path: polygon(11% 100%, 48% 29%, 12% 90%, 18% 45%, 25% 99%, 41% 40%, 69% 68%, 63% 66%, 67% 44%, 42% 59%, 61% 36%, 96% 66%);
        clip-path: polygon(11% 100%, 48% 29%, 12% 90%, 18% 45%, 25% 99%, 41% 40%, 69% 68%, 63% 66%, 67% 44%, 42% 59%, 61% 36%, 96% 66%);
    }
    35% {
        -webkit-clip-path: polygon(95% 45%, 23% 65%, 5% 50%, 62% 2%, 79% 89%, 17% 17%, 18% 93%, 70% 86%, 31% 90%, 39% 59%, 41% 36%, 84% 48%);
        clip-path: polygon(95% 45%, 23% 65%, 5% 50%, 62% 2%, 79% 89%, 17% 17%, 18% 93%, 70% 86%, 31% 90%, 39% 59%, 41% 36%, 84% 48%);
    }
    36% {
        -webkit-clip-path: polygon(74% 84%, 38% 85%, 43% 31%, 38% 25%, 73% 11%, 78% 25%, 2% 95%, 81% 16%, 10% 83%, 44% 84%, 92% 84%, 57% 80%);
        clip-path: polygon(74% 84%, 38% 85%, 43% 31%, 38% 25%, 73% 11%, 78% 25%, 2% 95%, 81% 16%, 10% 83%, 44% 84%, 92% 84%, 57% 80%);
    }
    37% {
        -webkit-clip-path: polygon(15% 4%, 98% 91%, 68% 47%, 20% 98%, 61% 68%, 67% 98%, 57% 14%, 15% 65%, 28% 16%, 88% 27%, 75% 46%, 19% 82%);
        clip-path: polygon(15% 4%, 98% 91%, 68% 47%, 20% 98%, 61% 68%, 67% 98%, 57% 14%, 15% 65%, 28% 16%, 88% 27%, 75% 46%, 19% 82%);
    }
    38% {
        -webkit-clip-path: polygon(68% 58%, 76% 91%, 78% 19%, 20% 86%, 23% 47%, 21% 86%, 55% 30%, 88% 50%, 52% 28%, 53% 41%, 47% 47%, 90% 62%);
        clip-path: polygon(68% 58%, 76% 91%, 78% 19%, 20% 86%, 23% 47%, 21% 86%, 55% 30%, 88% 50%, 52% 28%, 53% 41%, 47% 47%, 90% 62%);
    }
    39% {
        -webkit-clip-path: polygon(95% 57%, 57% 91%, 69% 34%, 99% 28%, 36% 72%, 51% 8%, 52% 50%, 8% 60%, 27% 82%, 60% 13%, 31% 54%, 83% 56%);
        clip-path: polygon(95% 57%, 57% 91%, 69% 34%, 99% 28%, 36% 72%, 51% 8%, 52% 50%, 8% 60%, 27% 82%, 60% 13%, 31% 54%, 83% 56%);
    }
    40% {
        -webkit-clip-path: polygon(42% 14%, 98% 93%, 66% 7%, 28% 53%, 83% 8%, 58% 78%, 47% 62%, 23% 64%, 84% 32%, 22% 61%, 14% 16%, 64% 42%);
        clip-path: polygon(42% 14%, 98% 93%, 66% 7%, 28% 53%, 83% 8%, 58% 78%, 47% 62%, 23% 64%, 84% 32%, 22% 61%, 14% 16%, 64% 42%);
    }
    41% {
        -webkit-clip-path: polygon(70% 43%, 26% 37%, 94% 13%, 58% 66%, 62% 12%, 27% 98%, 51% 81%, 85% 28%, 31% 70%, 14% 30%, 13% 1%, 64% 77%);
        clip-path: polygon(70% 43%, 26% 37%, 94% 13%, 58% 66%, 62% 12%, 27% 98%, 51% 81%, 85% 28%, 31% 70%, 14% 30%, 13% 1%, 64% 77%);
    }
    42% {
        -webkit-clip-path: polygon(74% 40%, 34% 53%, 30% 22%, 73% 15%, 41% 11%, 61% 9%, 5% 79%, 43% 19%, 27% 18%, 26% 85%, 21% 60%, 7% 89%);
        clip-path: polygon(74% 40%, 34% 53%, 30% 22%, 73% 15%, 41% 11%, 61% 9%, 5% 79%, 43% 19%, 27% 18%, 26% 85%, 21% 60%, 7% 89%);
    }
    43% {
        -webkit-clip-path: polygon(86% 17%, 66% 24%, 74% 34%, 11% 41%, 35% 53%, 49% 80%, 9% 63%, 11% 65%, 45% 28%, 81% 37%, 61% 61%, 89% 63%);
        clip-path: polygon(86% 17%, 66% 24%, 74% 34%, 11% 41%, 35% 53%, 49% 80%, 9% 63%, 11% 65%, 45% 28%, 81% 37%, 61% 61%, 89% 63%);
    }
    44% {
        -webkit-clip-path: polygon(10% 28%, 52% 32%, 61% 98%, 84% 12%, 96% 39%, 55% 91%, 60% 11%, 78% 13%, 97% 30%, 61% 98%, 13% 47%, 76% 48%);
        clip-path: polygon(10% 28%, 52% 32%, 61% 98%, 84% 12%, 96% 39%, 55% 91%, 60% 11%, 78% 13%, 97% 30%, 61% 98%, 13% 47%, 76% 48%);
    }
    45% {
        -webkit-clip-path: polygon(56% 74%, 23% 97%, 56% 46%, 86% 80%, 22% 9%, 77% 92%, 49% 20%, 65% 56%, 59% 27%, 9% 100%, 21% 50%, 77% 33%);
        clip-path: polygon(56% 74%, 23% 97%, 56% 46%, 86% 80%, 22% 9%, 77% 92%, 49% 20%, 65% 56%, 59% 27%, 9% 100%, 21% 50%, 77% 33%);
    }
    46% {
        -webkit-clip-path: polygon(3% 94%, 28% 7%, 74% 24%, 67% 33%, 62% 15%, 11% 15%, 70% 72%, 93% 61%, 95% 4%, 73% 31%, 64% 8%, 90% 86%);
        clip-path: polygon(3% 94%, 28% 7%, 74% 24%, 67% 33%, 62% 15%, 11% 15%, 70% 72%, 93% 61%, 95% 4%, 73% 31%, 64% 8%, 90% 86%);
    }
    47% {
        -webkit-clip-path: polygon(94% 58%, 91% 55%, 45% 94%, 54% 46%, 10% 98%, 84% 32%, 24% 95%, 78% 24%, 45% 16%, 26% 11%, 39% 15%, 9% 76%);
        clip-path: polygon(94% 58%, 91% 55%, 45% 94%, 54% 46%, 10% 98%, 84% 32%, 24% 95%, 78% 24%, 45% 16%, 26% 11%, 39% 15%, 9% 76%);
    }
    48% {
        -webkit-clip-path: polygon(28% 63%, 95% 17%, 33% 21%, 47% 65%, 89% 42%, 30% 44%, 89% 78%, 6% 37%, 68% 67%, 16% 76%, 52% 69%, 52% 57%);
        clip-path: polygon(28% 63%, 95% 17%, 33% 21%, 47% 65%, 89% 42%, 30% 44%, 89% 78%, 6% 37%, 68% 67%, 16% 76%, 52% 69%, 52% 57%);
    }
    49% {
        -webkit-clip-path: polygon(81% 7%, 39% 31%, 83% 31%, 96% 79%, 17% 82%, 54% 17%, 72% 94%, 6% 5%, 59% 95%, 90% 41%, 15% 70%, 44% 40%);
        clip-path: polygon(81% 7%, 39% 31%, 83% 31%, 96% 79%, 17% 82%, 54% 17%, 72% 94%, 6% 5%, 59% 95%, 90% 41%, 15% 70%, 44% 40%);
    }
    50% {
        -webkit-clip-path: polygon(15% 63%, 82% 60%, 59% 67%, 89% 7%, 31% 43%, 64% 20%, 61% 74%, 83% 22%, 35% 25%, 76% 93%, 19% 4%, 24% 11%);
        clip-path: polygon(15% 63%, 82% 60%, 59% 67%, 89% 7%, 31% 43%, 64% 20%, 61% 74%, 83% 22%, 35% 25%, 76% 93%, 19% 4%, 24% 11%);
    }
    51% {
        -webkit-clip-path: polygon(5% 14%, 48% 39%, 12% 82%, 66% 45%, 64% 50%, 22% 18%, 7% 48%, 91% 13%, 81% 35%, 23% 95%, 67% 77%, 96% 59%);
        clip-path: polygon(5% 14%, 48% 39%, 12% 82%, 66% 45%, 64% 50%, 22% 18%, 7% 48%, 91% 13%, 81% 35%, 23% 95%, 67% 77%, 96% 59%);
    }
    52% {
        -webkit-clip-path: polygon(4% 6%, 9% 67%, 30% 53%, 49% 13%, 81% 35%, 20% 85%, 52% 97%, 43% 46%, 43% 94%, 57% 56%, 38% 32%, 33% 63%);
        clip-path: polygon(4% 6%, 9% 67%, 30% 53%, 49% 13%, 81% 35%, 20% 85%, 52% 97%, 43% 46%, 43% 94%, 57% 56%, 38% 32%, 33% 63%);
    }
    53% {
        -webkit-clip-path: polygon(80% 49%, 81% 82%, 33% 22%, 90% 98%, 20% 2%, 53% 19%, 30% 21%, 24% 21%, 68% 60%, 58% 100%, 99% 50%, 28% 47%);
        clip-path: polygon(80% 49%, 81% 82%, 33% 22%, 90% 98%, 20% 2%, 53% 19%, 30% 21%, 24% 21%, 68% 60%, 58% 100%, 99% 50%, 28% 47%);
    }
    54% {
        -webkit-clip-path: polygon(32% 64%, 54% 10%, 20% 23%, 11% 20%, 98% 58%, 58% 63%, 84% 25%, 4% 36%, 100% 54%, 87% 19%, 48% 99%, 51% 65%);
        clip-path: polygon(32% 64%, 54% 10%, 20% 23%, 11% 20%, 98% 58%, 58% 63%, 84% 25%, 4% 36%, 100% 54%, 87% 19%, 48% 99%, 51% 65%);
    }
    55% {
        -webkit-clip-path: polygon(4% 89%, 7% 99%, 67% 7%, 19% 49%, 73% 41%, 39% 94%, 79% 59%, 22% 43%, 1% 22%, 12% 24%, 13% 54%, 63% 68%);
        clip-path: polygon(4% 89%, 7% 99%, 67% 7%, 19% 49%, 73% 41%, 39% 94%, 79% 59%, 22% 43%, 1% 22%, 12% 24%, 13% 54%, 63% 68%);
    }
    56% {
        -webkit-clip-path: polygon(95% 83%, 62% 50%, 25% 76%, 48% 45%, 59% 75%, 5% 31%, 69% 81%, 33% 17%, 82% 87%, 69% 37%, 95% 98%, 61% 7%);
        clip-path: polygon(95% 83%, 62% 50%, 25% 76%, 48% 45%, 59% 75%, 5% 31%, 69% 81%, 33% 17%, 82% 87%, 69% 37%, 95% 98%, 61% 7%);
    }
    57% {
        -webkit-clip-path: polygon(70% 49%, 84% 84%, 17% 22%, 30% 95%, 51% 98%, 20% 34%, 21% 18%, 71% 29%, 13% 58%, 53% 44%, 10% 33%, 28% 8%);
        clip-path: polygon(70% 49%, 84% 84%, 17% 22%, 30% 95%, 51% 98%, 20% 34%, 21% 18%, 71% 29%, 13% 58%, 53% 44%, 10% 33%, 28% 8%);
    }
    58% {
        -webkit-clip-path: polygon(89% 25%, 64% 93%, 87% 5%, 15% 15%, 78% 38%, 76% 48%, 50% 64%, 51% 56%, 28% 36%, 20% 59%, 75% 41%, 99% 15%);
        clip-path: polygon(89% 25%, 64% 93%, 87% 5%, 15% 15%, 78% 38%, 76% 48%, 50% 64%, 51% 56%, 28% 36%, 20% 59%, 75% 41%, 99% 15%);
    }
    59% {
        -webkit-clip-path: polygon(18% 72%, 36% 9%, 25% 2%, 42% 65%, 91% 8%, 52% 36%, 23% 34%, 30% 84%, 78% 60%, 36% 95%, 4% 4%, 98% 51%);
        clip-path: polygon(18% 72%, 36% 9%, 25% 2%, 42% 65%, 91% 8%, 52% 36%, 23% 34%, 30% 84%, 78% 60%, 36% 95%, 4% 4%, 98% 51%);
    }
    60% {
        -webkit-clip-path: polygon(12% 8%, 75% 2%, 92% 45%, 79% 3%, 65% 82%, 3% 11%, 11% 100%, 81% 71%, 5% 52%, 52% 28%, 35% 21%, 33% 33%);
        clip-path: polygon(12% 8%, 75% 2%, 92% 45%, 79% 3%, 65% 82%, 3% 11%, 11% 100%, 81% 71%, 5% 52%, 52% 28%, 35% 21%, 33% 33%);
    }
    61% {
        -webkit-clip-path: polygon(3% 100%, 31% 23%, 48% 74%, 93% 62%, 14% 18%, 23% 57%, 75% 6%, 46% 84%, 74% 74%, 75% 47%, 7% 15%, 96% 90%);
        clip-path: polygon(3% 100%, 31% 23%, 48% 74%, 93% 62%, 14% 18%, 23% 57%, 75% 6%, 46% 84%, 74% 74%, 75% 47%, 7% 15%, 96% 90%);
    }
    62% {
        -webkit-clip-path: polygon(19% 1%, 66% 58%, 83% 70%, 69% 59%, 55% 100%, 95% 31%, 91% 22%, 63% 60%, 15% 19%, 30% 5%, 73% 26%, 24% 61%);
        clip-path: polygon(19% 1%, 66% 58%, 83% 70%, 69% 59%, 55% 100%, 95% 31%, 91% 22%, 63% 60%, 15% 19%, 30% 5%, 73% 26%, 24% 61%);
    }
    63% {
        -webkit-clip-path: polygon(13% 7%, 44% 25%, 81% 42%, 50% 12%, 3% 80%, 39% 32%, 4% 61%, 23% 29%, 28% 36%, 12% 59%, 3% 85%, 79% 37%);
        clip-path: polygon(13% 7%, 44% 25%, 81% 42%, 50% 12%, 3% 80%, 39% 32%, 4% 61%, 23% 29%, 28% 36%, 12% 59%, 3% 85%, 79% 37%);
    }
    64% {
        -webkit-clip-path: polygon(46% 12%, 67% 85%, 76% 79%, 60% 15%, 67% 78%, 89% 35%, 43% 63%, 53% 57%, 56% 95%, 21% 83%, 59% 91%, 100% 45%);
        clip-path: polygon(46% 12%, 67% 85%, 76% 79%, 60% 15%, 67% 78%, 89% 35%, 43% 63%, 53% 57%, 56% 95%, 21% 83%, 59% 91%, 100% 45%);
    }
    65% {
        -webkit-clip-path: polygon(36% 79%, 3% 2%, 61% 80%, 96% 91%, 97% 22%, 87% 30%, 69% 40%, 42% 29%, 11% 73%, 56% 55%, 90% 7%, 41% 95%);
        clip-path: polygon(36% 79%, 3% 2%, 61% 80%, 96% 91%, 97% 22%, 87% 30%, 69% 40%, 42% 29%, 11% 73%, 56% 55%, 90% 7%, 41% 95%);
    }
    66% {
        -webkit-clip-path: polygon(76% 76%, 6% 63%, 85% 56%, 20% 67%, 93% 13%, 95% 97%, 55% 28%, 96% 70%, 34% 95%, 88% 91%, 86% 71%, 96% 5%);
        clip-path: polygon(76% 76%, 6% 63%, 85% 56%, 20% 67%, 93% 13%, 95% 97%, 55% 28%, 96% 70%, 34% 95%, 88% 91%, 86% 71%, 96% 5%);
    }
    67% {
        -webkit-clip-path: polygon(91% 48%, 10% 13%, 95% 9%, 75% 97%, 68% 55%, 16% 68%, 8% 80%, 17% 92%, 14% 20%, 56% 20%, 93% 69%, 38% 34%);
        clip-path: polygon(91% 48%, 10% 13%, 95% 9%, 75% 97%, 68% 55%, 16% 68%, 8% 80%, 17% 92%, 14% 20%, 56% 20%, 93% 69%, 38% 34%);
    }
    68% {
        -webkit-clip-path: polygon(29% 18%, 58% 80%, 60% 36%, 56% 93%, 20% 58%, 6% 25%, 10% 99%, 80% 7%, 2% 56%, 29% 99%, 20% 55%, 44% 36%);
        clip-path: polygon(29% 18%, 58% 80%, 60% 36%, 56% 93%, 20% 58%, 6% 25%, 10% 99%, 80% 7%, 2% 56%, 29% 99%, 20% 55%, 44% 36%);
    }
    69% {
        -webkit-clip-path: polygon(10% 20%, 72% 8%, 87% 30%, 34% 49%, 98% 52%, 3% 67%, 70% 59%, 2% 43%, 84% 15%, 75% 29%, 30% 67%, 67% 14%);
        clip-path: polygon(10% 20%, 72% 8%, 87% 30%, 34% 49%, 98% 52%, 3% 67%, 70% 59%, 2% 43%, 84% 15%, 75% 29%, 30% 67%, 67% 14%);
    }
    70% {
        -webkit-clip-path: polygon(25% 14%, 51% 50%, 83% 12%, 68% 34%, 58% 76%, 31% 19%, 65% 44%, 40% 96%, 29% 60%, 67% 93%, 33% 46%, 60% 24%);
        clip-path: polygon(25% 14%, 51% 50%, 83% 12%, 68% 34%, 58% 76%, 31% 19%, 65% 44%, 40% 96%, 29% 60%, 67% 93%, 33% 46%, 60% 24%);
    }
    71% {
        -webkit-clip-path: polygon(1% 66%, 66% 25%, 72% 28%, 75% 77%, 29% 74%, 44% 12%, 26% 30%, 91% 22%, 58% 59%, 80% 38%, 6% 81%, 5% 57%);
        clip-path: polygon(1% 66%, 66% 25%, 72% 28%, 75% 77%, 29% 74%, 44% 12%, 26% 30%, 91% 22%, 58% 59%, 80% 38%, 6% 81%, 5% 57%);
    }
    72% {
        -webkit-clip-path: polygon(33% 76%, 37% 71%, 10% 96%, 17% 3%, 47% 34%, 96% 78%, 39% 6%, 83% 19%, 69% 86%, 92% 8%, 62% 78%, 27% 27%);
        clip-path: polygon(33% 76%, 37% 71%, 10% 96%, 17% 3%, 47% 34%, 96% 78%, 39% 6%, 83% 19%, 69% 86%, 92% 8%, 62% 78%, 27% 27%);
    }
    73% {
        -webkit-clip-path: polygon(47% 20%, 38% 26%, 32% 63%, 56% 29%, 10% 45%, 4% 34%, 80% 94%, 30% 91%, 8% 10%, 79% 89%, 65% 50%, 31% 60%);
        clip-path: polygon(47% 20%, 38% 26%, 32% 63%, 56% 29%, 10% 45%, 4% 34%, 80% 94%, 30% 91%, 8% 10%, 79% 89%, 65% 50%, 31% 60%);
    }
    74% {
        -webkit-clip-path: polygon(33% 95%, 92% 91%, 72% 95%, 47% 81%, 56% 12%, 61% 8%, 12% 70%, 33% 96%, 29% 53%, 42% 39%, 98% 38%, 3% 83%);
        clip-path: polygon(33% 95%, 92% 91%, 72% 95%, 47% 81%, 56% 12%, 61% 8%, 12% 70%, 33% 96%, 29% 53%, 42% 39%, 98% 38%, 3% 83%);
    }
    75% {
        -webkit-clip-path: polygon(37% 19%, 25% 70%, 42% 49%, 46% 6%, 38% 13%, 92% 89%, 44% 68%, 4% 95%, 12% 90%, 13% 75%, 75% 83%, 87% 47%);
        clip-path: polygon(37% 19%, 25% 70%, 42% 49%, 46% 6%, 38% 13%, 92% 89%, 44% 68%, 4% 95%, 12% 90%, 13% 75%, 75% 83%, 87% 47%);
    }
    76% {
        -webkit-clip-path: polygon(23% 47%, 45% 8%, 1% 37%, 44% 64%, 16% 19%, 88% 57%, 40% 2%, 44% 90%, 73% 84%, 55% 67%, 24% 62%, 86% 77%);
        clip-path: polygon(23% 47%, 45% 8%, 1% 37%, 44% 64%, 16% 19%, 88% 57%, 40% 2%, 44% 90%, 73% 84%, 55% 67%, 24% 62%, 86% 77%);
    }
    77% {
        -webkit-clip-path: polygon(31% 96%, 32% 9%, 53% 51%, 34% 22%, 10% 5%, 68% 20%, 7% 98%, 1% 37%, 13% 49%, 44% 83%, 92% 90%, 69% 21%);
        clip-path: polygon(31% 96%, 32% 9%, 53% 51%, 34% 22%, 10% 5%, 68% 20%, 7% 98%, 1% 37%, 13% 49%, 44% 83%, 92% 90%, 69% 21%);
    }
    78% {
        -webkit-clip-path: polygon(97% 52%, 47% 58%, 75% 82%, 83% 17%, 49% 18%, 82% 75%, 27% 100%, 42% 31%, 30% 65%, 86% 58%, 27% 5%, 23% 98%);
        clip-path: polygon(97% 52%, 47% 58%, 75% 82%, 83% 17%, 49% 18%, 82% 75%, 27% 100%, 42% 31%, 30% 65%, 86% 58%, 27% 5%, 23% 98%);
    }
    79% {
        -webkit-clip-path: polygon(49% 99%, 41% 22%, 14% 34%, 25% 33%, 74% 76%, 52% 27%, 68% 84%, 40% 84%, 96% 6%, 14% 90%, 39% 37%, 15% 25%);
        clip-path: polygon(49% 99%, 41% 22%, 14% 34%, 25% 33%, 74% 76%, 52% 27%, 68% 84%, 40% 84%, 96% 6%, 14% 90%, 39% 37%, 15% 25%);
    }
    80% {
        -webkit-clip-path: polygon(74% 74%, 99% 17%, 92% 49%, 26% 89%, 24% 26%, 36% 69%, 51% 6%, 62% 11%, 49% 95%, 87% 15%, 8% 64%, 96% 23%);
        clip-path: polygon(74% 74%, 99% 17%, 92% 49%, 26% 89%, 24% 26%, 36% 69%, 51% 6%, 62% 11%, 49% 95%, 87% 15%, 8% 64%, 96% 23%);
    }
    81% {
        -webkit-clip-path: polygon(35% 7%, 80% 9%, 28% 3%, 90% 91%, 19% 17%, 30% 37%, 69% 88%, 91% 82%, 86% 82%, 63% 59%, 1% 46%, 79% 2%);
        clip-path: polygon(35% 7%, 80% 9%, 28% 3%, 90% 91%, 19% 17%, 30% 37%, 69% 88%, 91% 82%, 86% 82%, 63% 59%, 1% 46%, 79% 2%);
    }
    82% {
        -webkit-clip-path: polygon(87% 54%, 13% 95%, 39% 57%, 73% 32%, 59% 80%, 17% 69%, 32% 41%, 89% 97%, 88% 6%, 4% 56%, 98% 47%, 16% 84%);
        clip-path: polygon(87% 54%, 13% 95%, 39% 57%, 73% 32%, 59% 80%, 17% 69%, 32% 41%, 89% 97%, 88% 6%, 4% 56%, 98% 47%, 16% 84%);
    }
    83% {
        -webkit-clip-path: polygon(24% 53%, 11% 48%, 35% 98%, 23% 36%, 69% 37%, 18% 81%, 44% 89%, 50% 93%, 82% 2%, 51% 35%, 99% 42%, 57% 56%);
        clip-path: polygon(24% 53%, 11% 48%, 35% 98%, 23% 36%, 69% 37%, 18% 81%, 44% 89%, 50% 93%, 82% 2%, 51% 35%, 99% 42%, 57% 56%);
    }
    84% {
        -webkit-clip-path: polygon(90% 15%, 8% 71%, 97% 71%, 87% 77%, 22% 67%, 58% 50%, 50% 3%, 64% 93%, 39% 32%, 2% 14%, 16% 21%, 10% 62%);
        clip-path: polygon(90% 15%, 8% 71%, 97% 71%, 87% 77%, 22% 67%, 58% 50%, 50% 3%, 64% 93%, 39% 32%, 2% 14%, 16% 21%, 10% 62%);
    }
    85% {
        -webkit-clip-path: polygon(6% 90%, 47% 90%, 84% 38%, 25% 95%, 19% 17%, 46% 98%, 69% 94%, 87% 82%, 99% 25%, 37% 43%, 31% 89%, 64% 85%);
        clip-path: polygon(6% 90%, 47% 90%, 84% 38%, 25% 95%, 19% 17%, 46% 98%, 69% 94%, 87% 82%, 99% 25%, 37% 43%, 31% 89%, 64% 85%);
    }
    86% {
        -webkit-clip-path: polygon(22% 89%, 50% 11%, 86% 56%, 58% 83%, 19% 16%, 27% 18%, 25% 23%, 18% 89%, 82% 41%, 14% 43%, 18% 36%, 22% 13%);
        clip-path: polygon(22% 89%, 50% 11%, 86% 56%, 58% 83%, 19% 16%, 27% 18%, 25% 23%, 18% 89%, 82% 41%, 14% 43%, 18% 36%, 22% 13%);
    }
    87% {
        -webkit-clip-path: polygon(57% 7%, 89% 13%, 45% 32%, 30% 28%, 22% 3%, 43% 34%, 74% 15%, 56% 30%, 27% 37%, 68% 87%, 70% 81%, 44% 45%);
        clip-path: polygon(57% 7%, 89% 13%, 45% 32%, 30% 28%, 22% 3%, 43% 34%, 74% 15%, 56% 30%, 27% 37%, 68% 87%, 70% 81%, 44% 45%);
    }
    88% {
        -webkit-clip-path: polygon(1% 10%, 57% 51%, 22% 16%, 4% 9%, 9% 1%, 3% 20%, 73% 57%, 13% 91%, 85% 40%, 34% 7%, 25% 52%, 7% 100%);
        clip-path: polygon(1% 10%, 57% 51%, 22% 16%, 4% 9%, 9% 1%, 3% 20%, 73% 57%, 13% 91%, 85% 40%, 34% 7%, 25% 52%, 7% 100%);
    }
    89% {
        -webkit-clip-path: polygon(47% 5%, 67% 24%, 70% 36%, 47% 5%, 84% 96%, 28% 13%, 32% 18%, 97% 62%, 66% 6%, 90% 92%, 56% 66%, 96% 45%);
        clip-path: polygon(47% 5%, 67% 24%, 70% 36%, 47% 5%, 84% 96%, 28% 13%, 32% 18%, 97% 62%, 66% 6%, 90% 92%, 56% 66%, 96% 45%);
    }
    90% {
        -webkit-clip-path: polygon(89% 81%, 86% 65%, 98% 94%, 31% 4%, 9% 45%, 96% 27%, 44% 30%, 29% 74%, 54% 55%, 79% 23%, 72% 18%, 4% 91%);
        clip-path: polygon(89% 81%, 86% 65%, 98% 94%, 31% 4%, 9% 45%, 96% 27%, 44% 30%, 29% 74%, 54% 55%, 79% 23%, 72% 18%, 4% 91%);
    }
    91% {
        -webkit-clip-path: polygon(19% 77%, 17% 81%, 99% 48%, 77% 70%, 30% 87%, 79% 46%, 52% 2%, 35% 13%, 32% 15%, 53% 53%, 14% 35%, 18% 11%);
        clip-path: polygon(19% 77%, 17% 81%, 99% 48%, 77% 70%, 30% 87%, 79% 46%, 52% 2%, 35% 13%, 32% 15%, 53% 53%, 14% 35%, 18% 11%);
    }
    92% {
        -webkit-clip-path: polygon(20% 21%, 27% 23%, 46% 72%, 32% 29%, 74% 18%, 86% 41%, 91% 15%, 96% 7%, 92% 100%, 38% 93%, 52% 84%, 97% 32%);
        clip-path: polygon(20% 21%, 27% 23%, 46% 72%, 32% 29%, 74% 18%, 86% 41%, 91% 15%, 96% 7%, 92% 100%, 38% 93%, 52% 84%, 97% 32%);
    }
    93% {
        -webkit-clip-path: polygon(19% 77%, 59% 23%, 95% 12%, 25% 1%, 95% 32%, 72% 76%, 97% 37%, 60% 52%, 34% 10%, 12% 71%, 37% 77%, 27% 51%);
        clip-path: polygon(19% 77%, 59% 23%, 95% 12%, 25% 1%, 95% 32%, 72% 76%, 97% 37%, 60% 52%, 34% 10%, 12% 71%, 37% 77%, 27% 51%);
    }
    94% {
        -webkit-clip-path: polygon(87% 15%, 85% 26%, 95% 57%, 44% 8%, 40% 81%, 9% 57%, 75% 21%, 98% 1%, 58% 28%, 61% 31%, 5% 42%, 78% 26%);
        clip-path: polygon(87% 15%, 85% 26%, 95% 57%, 44% 8%, 40% 81%, 9% 57%, 75% 21%, 98% 1%, 58% 28%, 61% 31%, 5% 42%, 78% 26%);
    }
    95% {
        -webkit-clip-path: polygon(64% 97%, 52% 88%, 23% 19%, 13% 3%, 11% 57%, 85% 82%, 18% 66%, 7% 5%, 28% 48%, 32% 82%, 64% 16%, 91% 83%);
        clip-path: polygon(64% 97%, 52% 88%, 23% 19%, 13% 3%, 11% 57%, 85% 82%, 18% 66%, 7% 5%, 28% 48%, 32% 82%, 64% 16%, 91% 83%);
    }
    96% {
        -webkit-clip-path: polygon(57% 74%, 20% 96%, 9% 93%, 39% 88%, 25% 95%, 26% 98%, 7% 66%, 2% 81%, 99% 81%, 42% 80%, 27% 13%, 69% 85%);
        clip-path: polygon(57% 74%, 20% 96%, 9% 93%, 39% 88%, 25% 95%, 26% 98%, 7% 66%, 2% 81%, 99% 81%, 42% 80%, 27% 13%, 69% 85%);
    }
    97% {
        -webkit-clip-path: polygon(12% 39%, 91% 96%, 38% 88%, 81% 89%, 75% 94%, 61% 21%, 42% 11%, 77% 84%, 28% 32%, 39% 88%, 98% 30%, 12% 61%);
        clip-path: polygon(12% 39%, 91% 96%, 38% 88%, 81% 89%, 75% 94%, 61% 21%, 42% 11%, 77% 84%, 28% 32%, 39% 88%, 98% 30%, 12% 61%);
    }
    98% {
        -webkit-clip-path: polygon(16% 6%, 11% 58%, 53% 66%, 77% 60%, 85% 59%, 36% 80%, 37% 100%, 66% 5%, 10% 20%, 10% 39%, 56% 28%, 23% 44%);
        clip-path: polygon(16% 6%, 11% 58%, 53% 66%, 77% 60%, 85% 59%, 36% 80%, 37% 100%, 66% 5%, 10% 20%, 10% 39%, 56% 28%, 23% 44%);
    }
    99% {
        -webkit-clip-path: polygon(82% 16%, 95% 53%, 86% 9%, 87% 62%, 48% 99%, 31% 74%, 78% 16%, 4% 62%, 63% 39%, 50% 75%, 14% 71%, 15% 43%);
        clip-path: polygon(82% 16%, 95% 53%, 86% 9%, 87% 62%, 48% 99%, 31% 74%, 78% 16%, 4% 62%, 63% 39%, 50% 75%, 14% 71%, 15% 43%);
    }
    100% {
        -webkit-clip-path: polygon(63% 97%, 99% 85%, 32% 51%, 65% 79%, 32% 26%, 95% 25%, 65% 60%, 77% 13%, 52% 35%, 94% 62%, 64% 44%, 44% 4%);
        clip-path: polygon(63% 97%, 99% 85%, 32% 51%, 65% 79%, 32% 26%, 95% 25%, 65% 60%, 77% 13%, 52% 35%, 94% 62%, 64% 44%, 44% 4%);
    }
    100% {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}
@keyframes sorrycat {
    0% {
        -webkit-filter: invert(0%);
        filter: invert(0%);
    }
    1% {
        -webkit-clip-path: polygon(74% 12%, 74% 21%, 26% 75%, 60% 39%, 68% 45%, 57% 78%, 83% 50%, 93% 51%, 67% 49%, 73% 93%, 45% 36%, 90% 85%);
        clip-path: polygon(74% 12%, 74% 21%, 26% 75%, 60% 39%, 68% 45%, 57% 78%, 83% 50%, 93% 51%, 67% 49%, 73% 93%, 45% 36%, 90% 85%);
    }
    2% {
        -webkit-clip-path: polygon(86% 65%, 1% 92%, 79% 97%, 81% 44%, 36% 10%, 79% 67%, 75% 80%, 80% 39%, 52% 24%, 45% 51%, 9% 42%, 91% 51%);
        clip-path: polygon(86% 65%, 1% 92%, 79% 97%, 81% 44%, 36% 10%, 79% 67%, 75% 80%, 80% 39%, 52% 24%, 45% 51%, 9% 42%, 91% 51%);
    }
    3% {
        -webkit-clip-path: polygon(66% 88%, 79% 88%, 68% 92%, 95% 85%, 37% 67%, 23% 8%, 99% 31%, 50% 75%, 35% 55%, 29% 3%, 37% 16%, 88% 9%);
        clip-path: polygon(66% 88%, 79% 88%, 68% 92%, 95% 85%, 37% 67%, 23% 8%, 99% 31%, 50% 75%, 35% 55%, 29% 3%, 37% 16%, 88% 9%);
    }
    4% {
        -webkit-clip-path: polygon(33% 39%, 53% 83%, 49% 6%, 19% 46%, 15% 98%, 100% 99%, 23% 53%, 92% 48%, 20% 64%, 51% 16%, 31% 72%, 47% 51%);
        clip-path: polygon(33% 39%, 53% 83%, 49% 6%, 19% 46%, 15% 98%, 100% 99%, 23% 53%, 92% 48%, 20% 64%, 51% 16%, 31% 72%, 47% 51%);
    }
    5% {
        -webkit-clip-path: polygon(68% 41%, 65% 81%, 84% 27%, 61% 3%, 78% 96%, 38% 44%, 47% 30%, 54% 61%, 19% 48%, 2% 99%, 99% 53%, 39% 44%);
        clip-path: polygon(68% 41%, 65% 81%, 84% 27%, 61% 3%, 78% 96%, 38% 44%, 47% 30%, 54% 61%, 19% 48%, 2% 99%, 99% 53%, 39% 44%);
    }
    6% {
        -webkit-clip-path: polygon(90% 82%, 80% 94%, 7% 73%, 98% 54%, 7% 53%, 86% 77%, 54% 64%, 88% 22%, 52% 1%, 72% 29%, 55% 67%, 82% 61%);
        clip-path: polygon(90% 82%, 80% 94%, 7% 73%, 98% 54%, 7% 53%, 86% 77%, 54% 64%, 88% 22%, 52% 1%, 72% 29%, 55% 67%, 82% 61%);
    }
    7% {
        -webkit-clip-path: polygon(32% 1%, 71% 55%, 50% 20%, 29% 86%, 52% 62%, 81% 49%, 93% 26%, 67% 36%, 90% 92%, 100% 28%, 97% 87%, 18% 89%);
        clip-path: polygon(32% 1%, 71% 55%, 50% 20%, 29% 86%, 52% 62%, 81% 49%, 93% 26%, 67% 36%, 90% 92%, 100% 28%, 97% 87%, 18% 89%);
    }
    8% {
        -webkit-clip-path: polygon(10% 19%, 93% 86%, 22% 59%, 67% 86%, 60% 24%, 30% 27%, 25% 13%, 36% 4%, 97% 36%, 74% 77%, 2% 33%, 77% 30%);
        clip-path: polygon(10% 19%, 93% 86%, 22% 59%, 67% 86%, 60% 24%, 30% 27%, 25% 13%, 36% 4%, 97% 36%, 74% 77%, 2% 33%, 77% 30%);
    }
    9% {
        -webkit-clip-path: polygon(86% 31%, 61% 56%, 19% 78%, 48% 58%, 21% 3%, 50% 21%, 41% 79%, 97% 40%, 26% 24%, 17% 40%, 26% 87%, 66% 55%);
        clip-path: polygon(86% 31%, 61% 56%, 19% 78%, 48% 58%, 21% 3%, 50% 21%, 41% 79%, 97% 40%, 26% 24%, 17% 40%, 26% 87%, 66% 55%);
    }
    10% {
        -webkit-clip-path: polygon(12% 61%, 76% 54%, 13% 56%, 53% 1%, 100% 40%, 79% 88%, 74% 47%, 24% 97%, 46% 89%, 21% 57%, 15% 62%, 35% 84%);
        clip-path: polygon(12% 61%, 76% 54%, 13% 56%, 53% 1%, 100% 40%, 79% 88%, 74% 47%, 24% 97%, 46% 89%, 21% 57%, 15% 62%, 35% 84%);
    }
    11% {
        -webkit-clip-path: polygon(37% 51%, 99% 57%, 71% 6%, 37% 22%, 81% 88%, 86% 73%, 20% 77%, 89% 1%, 53% 92%, 45% 99%, 23% 27%, 94% 23%);
        clip-path: polygon(37% 51%, 99% 57%, 71% 6%, 37% 22%, 81% 88%, 86% 73%, 20% 77%, 89% 1%, 53% 92%, 45% 99%, 23% 27%, 94% 23%);
    }
    12% {
        -webkit-clip-path: polygon(83% 48%, 96% 57%, 88% 49%, 32% 89%, 45% 3%, 2% 5%, 30% 8%, 40% 40%, 25% 54%, 14% 21%, 32% 74%, 1% 69%);
        clip-path: polygon(83% 48%, 96% 57%, 88% 49%, 32% 89%, 45% 3%, 2% 5%, 30% 8%, 40% 40%, 25% 54%, 14% 21%, 32% 74%, 1% 69%);
    }
    13% {
        -webkit-clip-path: polygon(97% 58%, 33% 22%, 3% 52%, 49% 14%, 14% 53%, 8% 50%, 74% 51%, 73% 40%, 47% 47%, 46% 61%, 51% 85%, 2% 99%);
        clip-path: polygon(97% 58%, 33% 22%, 3% 52%, 49% 14%, 14% 53%, 8% 50%, 74% 51%, 73% 40%, 47% 47%, 46% 61%, 51% 85%, 2% 99%);
    }
    14% {
        -webkit-clip-path: polygon(78% 99%, 18% 30%, 98% 37%, 5% 83%, 27% 39%, 59% 16%, 92% 17%, 28% 86%, 1% 58%, 68% 87%, 88% 80%, 39% 13%);
        clip-path: polygon(78% 99%, 18% 30%, 98% 37%, 5% 83%, 27% 39%, 59% 16%, 92% 17%, 28% 86%, 1% 58%, 68% 87%, 88% 80%, 39% 13%);
    }
    15% {
        -webkit-clip-path: polygon(54% 6%, 75% 93%, 35% 90%, 57% 54%, 100% 71%, 45% 81%, 70% 11%, 98% 23%, 63% 9%, 78% 32%, 39% 16%, 18% 61%);
        clip-path: polygon(54% 6%, 75% 93%, 35% 90%, 57% 54%, 100% 71%, 45% 81%, 70% 11%, 98% 23%, 63% 9%, 78% 32%, 39% 16%, 18% 61%);
    }
    16% {
        -webkit-clip-path: polygon(71% 98%, 71% 89%, 77% 52%, 92% 71%, 28% 4%, 80% 94%, 23% 50%, 3% 88%, 34% 55%, 96% 96%, 66% 1%, 15% 89%);
        clip-path: polygon(71% 98%, 71% 89%, 77% 52%, 92% 71%, 28% 4%, 80% 94%, 23% 50%, 3% 88%, 34% 55%, 96% 96%, 66% 1%, 15% 89%);
    }
    17% {
        -webkit-clip-path: polygon(43% 87%, 87% 83%, 99% 70%, 28% 1%, 17% 37%, 91% 8%, 71% 87%, 70% 53%, 6% 86%, 58% 42%, 44% 54%, 25% 95%);
        clip-path: polygon(43% 87%, 87% 83%, 99% 70%, 28% 1%, 17% 37%, 91% 8%, 71% 87%, 70% 53%, 6% 86%, 58% 42%, 44% 54%, 25% 95%);
    }
    18% {
        -webkit-clip-path: polygon(52% 46%, 14% 37%, 29% 50%, 32% 85%, 97% 72%, 48% 67%, 34% 24%, 68% 21%, 13% 42%, 15% 26%, 29% 71%, 86% 28%);
        clip-path: polygon(52% 46%, 14% 37%, 29% 50%, 32% 85%, 97% 72%, 48% 67%, 34% 24%, 68% 21%, 13% 42%, 15% 26%, 29% 71%, 86% 28%);
    }
    19% {
        -webkit-clip-path: polygon(9% 80%, 41% 96%, 22% 78%, 18% 83%, 96% 58%, 39% 17%, 21% 50%, 20% 45%, 64% 29%, 74% 69%, 1% 16%, 43% 27%);
        clip-path: polygon(9% 80%, 41% 96%, 22% 78%, 18% 83%, 96% 58%, 39% 17%, 21% 50%, 20% 45%, 64% 29%, 74% 69%, 1% 16%, 43% 27%);
    }
    20% {
        -webkit-clip-path: polygon(52% 38%, 68% 11%, 44% 18%, 47% 54%, 18% 17%, 43% 73%, 6% 54%, 19% 32%, 77% 24%, 45% 17%, 8% 63%, 75% 40%);
        clip-path: polygon(52% 38%, 68% 11%, 44% 18%, 47% 54%, 18% 17%, 43% 73%, 6% 54%, 19% 32%, 77% 24%, 45% 17%, 8% 63%, 75% 40%);
    }
    21% {
        -webkit-clip-path: polygon(80% 91%, 93% 82%, 11% 6%, 22% 92%, 44% 72%, 96% 11%, 8% 33%, 93% 31%, 67% 96%, 10% 82%, 63% 87%, 1% 80%);
        clip-path: polygon(80% 91%, 93% 82%, 11% 6%, 22% 92%, 44% 72%, 96% 11%, 8% 33%, 93% 31%, 67% 96%, 10% 82%, 63% 87%, 1% 80%);
    }
    22% {
        -webkit-clip-path: polygon(53% 26%, 97% 39%, 98% 48%, 49% 95%, 44% 95%, 45% 33%, 62% 42%, 67% 6%, 66% 7%, 92% 75%, 33% 44%, 31% 34%);
        clip-path: polygon(53% 26%, 97% 39%, 98% 48%, 49% 95%, 44% 95%, 45% 33%, 62% 42%, 67% 6%, 66% 7%, 92% 75%, 33% 44%, 31% 34%);
    }
    23% {
        -webkit-clip-path: polygon(74% 8%, 87% 6%, 71% 19%, 44% 69%, 45% 77%, 82% 35%, 89% 100%, 15% 87%, 15% 11%, 21% 87%, 19% 53%, 66% 8%);
        clip-path: polygon(74% 8%, 87% 6%, 71% 19%, 44% 69%, 45% 77%, 82% 35%, 89% 100%, 15% 87%, 15% 11%, 21% 87%, 19% 53%, 66% 8%);
    }
    24% {
        -webkit-clip-path: polygon(1% 20%, 47% 45%, 39% 73%, 29% 61%, 7% 6%, 4% 66%, 3% 53%, 51% 89%, 84% 74%, 91% 19%, 85% 40%, 91% 24%);
        clip-path: polygon(1% 20%, 47% 45%, 39% 73%, 29% 61%, 7% 6%, 4% 66%, 3% 53%, 51% 89%, 84% 74%, 91% 19%, 85% 40%, 91% 24%);
    }
    25% {
        -webkit-clip-path: polygon(47% 71%, 35% 32%, 28% 84%, 70% 5%, 49% 94%, 20% 85%, 58% 8%, 44% 7%, 98% 70%, 52% 65%, 25% 19%, 8% 81%);
        clip-path: polygon(47% 71%, 35% 32%, 28% 84%, 70% 5%, 49% 94%, 20% 85%, 58% 8%, 44% 7%, 98% 70%, 52% 65%, 25% 19%, 8% 81%);
    }
    26% {
        -webkit-clip-path: polygon(58% 85%, 41% 43%, 8% 97%, 85% 98%, 76% 88%, 13% 6%, 10% 71%, 43% 61%, 80% 74%, 20% 38%, 34% 60%, 45% 3%);
        clip-path: polygon(58% 85%, 41% 43%, 8% 97%, 85% 98%, 76% 88%, 13% 6%, 10% 71%, 43% 61%, 80% 74%, 20% 38%, 34% 60%, 45% 3%);
    }
    27% {
        -webkit-clip-path: polygon(52% 91%, 78% 94%, 21% 29%, 38% 60%, 3% 22%, 78% 96%, 87% 72%, 6% 52%, 66% 34%, 57% 78%, 82% 70%, 89% 27%);
        clip-path: polygon(52% 91%, 78% 94%, 21% 29%, 38% 60%, 3% 22%, 78% 96%, 87% 72%, 6% 52%, 66% 34%, 57% 78%, 82% 70%, 89% 27%);
    }
    28% {
        -webkit-clip-path: polygon(15% 13%, 66% 95%, 31% 3%, 47% 53%, 50% 72%, 71% 40%, 51% 43%, 98% 63%, 38% 34%, 58% 54%, 38% 81%, 27% 85%);
        clip-path: polygon(15% 13%, 66% 95%, 31% 3%, 47% 53%, 50% 72%, 71% 40%, 51% 43%, 98% 63%, 38% 34%, 58% 54%, 38% 81%, 27% 85%);
    }
    29% {
        -webkit-clip-path: polygon(45% 16%, 20% 19%, 96% 21%, 25% 75%, 84% 55%, 81% 64%, 67% 25%, 47% 12%, 35% 28%, 62% 36%, 44% 60%, 6% 42%);
        clip-path: polygon(45% 16%, 20% 19%, 96% 21%, 25% 75%, 84% 55%, 81% 64%, 67% 25%, 47% 12%, 35% 28%, 62% 36%, 44% 60%, 6% 42%);
    }
    30% {
        -webkit-clip-path: polygon(60% 10%, 35% 71%, 30% 9%, 38% 65%, 52% 26%, 74% 69%, 61% 45%, 47% 57%, 46% 19%, 75% 65%, 30% 86%, 81% 87%);
        clip-path: polygon(60% 10%, 35% 71%, 30% 9%, 38% 65%, 52% 26%, 74% 69%, 61% 45%, 47% 57%, 46% 19%, 75% 65%, 30% 86%, 81% 87%);
    }
    31% {
        -webkit-clip-path: polygon(35% 99%, 83% 66%, 51% 63%, 72% 62%, 29% 91%, 4% 48%, 68% 39%, 48% 40%, 72% 96%, 86% 37%, 58% 77%, 38% 42%);
        clip-path: polygon(35% 99%, 83% 66%, 51% 63%, 72% 62%, 29% 91%, 4% 48%, 68% 39%, 48% 40%, 72% 96%, 86% 37%, 58% 77%, 38% 42%);
    }
    32% {
        -webkit-clip-path: polygon(77% 30%, 97% 52%, 75% 1%, 98% 25%, 59% 89%, 77% 86%, 59% 96%, 68% 86%, 29% 21%, 69% 91%, 40% 19%, 71% 75%);
        clip-path: polygon(77% 30%, 97% 52%, 75% 1%, 98% 25%, 59% 89%, 77% 86%, 59% 96%, 68% 86%, 29% 21%, 69% 91%, 40% 19%, 71% 75%);
    }
    33% {
        -webkit-clip-path: polygon(65% 12%, 78% 16%, 95% 56%, 77% 29%, 99% 13%, 90% 58%, 68% 52%, 68% 53%, 18% 28%, 8% 64%, 55% 29%, 87% 93%);
        clip-path: polygon(65% 12%, 78% 16%, 95% 56%, 77% 29%, 99% 13%, 90% 58%, 68% 52%, 68% 53%, 18% 28%, 8% 64%, 55% 29%, 87% 93%);
    }
    34% {
        -webkit-clip-path: polygon(11% 100%, 48% 29%, 12% 90%, 18% 45%, 25% 99%, 41% 40%, 69% 68%, 63% 66%, 67% 44%, 42% 59%, 61% 36%, 96% 66%);
        clip-path: polygon(11% 100%, 48% 29%, 12% 90%, 18% 45%, 25% 99%, 41% 40%, 69% 68%, 63% 66%, 67% 44%, 42% 59%, 61% 36%, 96% 66%);
    }
    35% {
        -webkit-clip-path: polygon(95% 45%, 23% 65%, 5% 50%, 62% 2%, 79% 89%, 17% 17%, 18% 93%, 70% 86%, 31% 90%, 39% 59%, 41% 36%, 84% 48%);
        clip-path: polygon(95% 45%, 23% 65%, 5% 50%, 62% 2%, 79% 89%, 17% 17%, 18% 93%, 70% 86%, 31% 90%, 39% 59%, 41% 36%, 84% 48%);
    }
    36% {
        -webkit-clip-path: polygon(74% 84%, 38% 85%, 43% 31%, 38% 25%, 73% 11%, 78% 25%, 2% 95%, 81% 16%, 10% 83%, 44% 84%, 92% 84%, 57% 80%);
        clip-path: polygon(74% 84%, 38% 85%, 43% 31%, 38% 25%, 73% 11%, 78% 25%, 2% 95%, 81% 16%, 10% 83%, 44% 84%, 92% 84%, 57% 80%);
    }
    37% {
        -webkit-clip-path: polygon(15% 4%, 98% 91%, 68% 47%, 20% 98%, 61% 68%, 67% 98%, 57% 14%, 15% 65%, 28% 16%, 88% 27%, 75% 46%, 19% 82%);
        clip-path: polygon(15% 4%, 98% 91%, 68% 47%, 20% 98%, 61% 68%, 67% 98%, 57% 14%, 15% 65%, 28% 16%, 88% 27%, 75% 46%, 19% 82%);
    }
    38% {
        -webkit-clip-path: polygon(68% 58%, 76% 91%, 78% 19%, 20% 86%, 23% 47%, 21% 86%, 55% 30%, 88% 50%, 52% 28%, 53% 41%, 47% 47%, 90% 62%);
        clip-path: polygon(68% 58%, 76% 91%, 78% 19%, 20% 86%, 23% 47%, 21% 86%, 55% 30%, 88% 50%, 52% 28%, 53% 41%, 47% 47%, 90% 62%);
    }
    39% {
        -webkit-clip-path: polygon(95% 57%, 57% 91%, 69% 34%, 99% 28%, 36% 72%, 51% 8%, 52% 50%, 8% 60%, 27% 82%, 60% 13%, 31% 54%, 83% 56%);
        clip-path: polygon(95% 57%, 57% 91%, 69% 34%, 99% 28%, 36% 72%, 51% 8%, 52% 50%, 8% 60%, 27% 82%, 60% 13%, 31% 54%, 83% 56%);
    }
    40% {
        -webkit-clip-path: polygon(42% 14%, 98% 93%, 66% 7%, 28% 53%, 83% 8%, 58% 78%, 47% 62%, 23% 64%, 84% 32%, 22% 61%, 14% 16%, 64% 42%);
        clip-path: polygon(42% 14%, 98% 93%, 66% 7%, 28% 53%, 83% 8%, 58% 78%, 47% 62%, 23% 64%, 84% 32%, 22% 61%, 14% 16%, 64% 42%);
    }
    41% {
        -webkit-clip-path: polygon(70% 43%, 26% 37%, 94% 13%, 58% 66%, 62% 12%, 27% 98%, 51% 81%, 85% 28%, 31% 70%, 14% 30%, 13% 1%, 64% 77%);
        clip-path: polygon(70% 43%, 26% 37%, 94% 13%, 58% 66%, 62% 12%, 27% 98%, 51% 81%, 85% 28%, 31% 70%, 14% 30%, 13% 1%, 64% 77%);
    }
    42% {
        -webkit-clip-path: polygon(74% 40%, 34% 53%, 30% 22%, 73% 15%, 41% 11%, 61% 9%, 5% 79%, 43% 19%, 27% 18%, 26% 85%, 21% 60%, 7% 89%);
        clip-path: polygon(74% 40%, 34% 53%, 30% 22%, 73% 15%, 41% 11%, 61% 9%, 5% 79%, 43% 19%, 27% 18%, 26% 85%, 21% 60%, 7% 89%);
    }
    43% {
        -webkit-clip-path: polygon(86% 17%, 66% 24%, 74% 34%, 11% 41%, 35% 53%, 49% 80%, 9% 63%, 11% 65%, 45% 28%, 81% 37%, 61% 61%, 89% 63%);
        clip-path: polygon(86% 17%, 66% 24%, 74% 34%, 11% 41%, 35% 53%, 49% 80%, 9% 63%, 11% 65%, 45% 28%, 81% 37%, 61% 61%, 89% 63%);
    }
    44% {
        -webkit-clip-path: polygon(10% 28%, 52% 32%, 61% 98%, 84% 12%, 96% 39%, 55% 91%, 60% 11%, 78% 13%, 97% 30%, 61% 98%, 13% 47%, 76% 48%);
        clip-path: polygon(10% 28%, 52% 32%, 61% 98%, 84% 12%, 96% 39%, 55% 91%, 60% 11%, 78% 13%, 97% 30%, 61% 98%, 13% 47%, 76% 48%);
    }
    45% {
        -webkit-clip-path: polygon(56% 74%, 23% 97%, 56% 46%, 86% 80%, 22% 9%, 77% 92%, 49% 20%, 65% 56%, 59% 27%, 9% 100%, 21% 50%, 77% 33%);
        clip-path: polygon(56% 74%, 23% 97%, 56% 46%, 86% 80%, 22% 9%, 77% 92%, 49% 20%, 65% 56%, 59% 27%, 9% 100%, 21% 50%, 77% 33%);
    }
    46% {
        -webkit-clip-path: polygon(3% 94%, 28% 7%, 74% 24%, 67% 33%, 62% 15%, 11% 15%, 70% 72%, 93% 61%, 95% 4%, 73% 31%, 64% 8%, 90% 86%);
        clip-path: polygon(3% 94%, 28% 7%, 74% 24%, 67% 33%, 62% 15%, 11% 15%, 70% 72%, 93% 61%, 95% 4%, 73% 31%, 64% 8%, 90% 86%);
    }
    47% {
        -webkit-clip-path: polygon(94% 58%, 91% 55%, 45% 94%, 54% 46%, 10% 98%, 84% 32%, 24% 95%, 78% 24%, 45% 16%, 26% 11%, 39% 15%, 9% 76%);
        clip-path: polygon(94% 58%, 91% 55%, 45% 94%, 54% 46%, 10% 98%, 84% 32%, 24% 95%, 78% 24%, 45% 16%, 26% 11%, 39% 15%, 9% 76%);
    }
    48% {
        -webkit-clip-path: polygon(28% 63%, 95% 17%, 33% 21%, 47% 65%, 89% 42%, 30% 44%, 89% 78%, 6% 37%, 68% 67%, 16% 76%, 52% 69%, 52% 57%);
        clip-path: polygon(28% 63%, 95% 17%, 33% 21%, 47% 65%, 89% 42%, 30% 44%, 89% 78%, 6% 37%, 68% 67%, 16% 76%, 52% 69%, 52% 57%);
    }
    49% {
        -webkit-clip-path: polygon(81% 7%, 39% 31%, 83% 31%, 96% 79%, 17% 82%, 54% 17%, 72% 94%, 6% 5%, 59% 95%, 90% 41%, 15% 70%, 44% 40%);
        clip-path: polygon(81% 7%, 39% 31%, 83% 31%, 96% 79%, 17% 82%, 54% 17%, 72% 94%, 6% 5%, 59% 95%, 90% 41%, 15% 70%, 44% 40%);
    }
    50% {
        -webkit-clip-path: polygon(15% 63%, 82% 60%, 59% 67%, 89% 7%, 31% 43%, 64% 20%, 61% 74%, 83% 22%, 35% 25%, 76% 93%, 19% 4%, 24% 11%);
        clip-path: polygon(15% 63%, 82% 60%, 59% 67%, 89% 7%, 31% 43%, 64% 20%, 61% 74%, 83% 22%, 35% 25%, 76% 93%, 19% 4%, 24% 11%);
    }
    51% {
        -webkit-clip-path: polygon(5% 14%, 48% 39%, 12% 82%, 66% 45%, 64% 50%, 22% 18%, 7% 48%, 91% 13%, 81% 35%, 23% 95%, 67% 77%, 96% 59%);
        clip-path: polygon(5% 14%, 48% 39%, 12% 82%, 66% 45%, 64% 50%, 22% 18%, 7% 48%, 91% 13%, 81% 35%, 23% 95%, 67% 77%, 96% 59%);
    }
    52% {
        -webkit-clip-path: polygon(4% 6%, 9% 67%, 30% 53%, 49% 13%, 81% 35%, 20% 85%, 52% 97%, 43% 46%, 43% 94%, 57% 56%, 38% 32%, 33% 63%);
        clip-path: polygon(4% 6%, 9% 67%, 30% 53%, 49% 13%, 81% 35%, 20% 85%, 52% 97%, 43% 46%, 43% 94%, 57% 56%, 38% 32%, 33% 63%);
    }
    53% {
        -webkit-clip-path: polygon(80% 49%, 81% 82%, 33% 22%, 90% 98%, 20% 2%, 53% 19%, 30% 21%, 24% 21%, 68% 60%, 58% 100%, 99% 50%, 28% 47%);
        clip-path: polygon(80% 49%, 81% 82%, 33% 22%, 90% 98%, 20% 2%, 53% 19%, 30% 21%, 24% 21%, 68% 60%, 58% 100%, 99% 50%, 28% 47%);
    }
    54% {
        -webkit-clip-path: polygon(32% 64%, 54% 10%, 20% 23%, 11% 20%, 98% 58%, 58% 63%, 84% 25%, 4% 36%, 100% 54%, 87% 19%, 48% 99%, 51% 65%);
        clip-path: polygon(32% 64%, 54% 10%, 20% 23%, 11% 20%, 98% 58%, 58% 63%, 84% 25%, 4% 36%, 100% 54%, 87% 19%, 48% 99%, 51% 65%);
    }
    55% {
        -webkit-clip-path: polygon(4% 89%, 7% 99%, 67% 7%, 19% 49%, 73% 41%, 39% 94%, 79% 59%, 22% 43%, 1% 22%, 12% 24%, 13% 54%, 63% 68%);
        clip-path: polygon(4% 89%, 7% 99%, 67% 7%, 19% 49%, 73% 41%, 39% 94%, 79% 59%, 22% 43%, 1% 22%, 12% 24%, 13% 54%, 63% 68%);
    }
    56% {
        -webkit-clip-path: polygon(95% 83%, 62% 50%, 25% 76%, 48% 45%, 59% 75%, 5% 31%, 69% 81%, 33% 17%, 82% 87%, 69% 37%, 95% 98%, 61% 7%);
        clip-path: polygon(95% 83%, 62% 50%, 25% 76%, 48% 45%, 59% 75%, 5% 31%, 69% 81%, 33% 17%, 82% 87%, 69% 37%, 95% 98%, 61% 7%);
    }
    57% {
        -webkit-clip-path: polygon(70% 49%, 84% 84%, 17% 22%, 30% 95%, 51% 98%, 20% 34%, 21% 18%, 71% 29%, 13% 58%, 53% 44%, 10% 33%, 28% 8%);
        clip-path: polygon(70% 49%, 84% 84%, 17% 22%, 30% 95%, 51% 98%, 20% 34%, 21% 18%, 71% 29%, 13% 58%, 53% 44%, 10% 33%, 28% 8%);
    }
    58% {
        -webkit-clip-path: polygon(89% 25%, 64% 93%, 87% 5%, 15% 15%, 78% 38%, 76% 48%, 50% 64%, 51% 56%, 28% 36%, 20% 59%, 75% 41%, 99% 15%);
        clip-path: polygon(89% 25%, 64% 93%, 87% 5%, 15% 15%, 78% 38%, 76% 48%, 50% 64%, 51% 56%, 28% 36%, 20% 59%, 75% 41%, 99% 15%);
    }
    59% {
        -webkit-clip-path: polygon(18% 72%, 36% 9%, 25% 2%, 42% 65%, 91% 8%, 52% 36%, 23% 34%, 30% 84%, 78% 60%, 36% 95%, 4% 4%, 98% 51%);
        clip-path: polygon(18% 72%, 36% 9%, 25% 2%, 42% 65%, 91% 8%, 52% 36%, 23% 34%, 30% 84%, 78% 60%, 36% 95%, 4% 4%, 98% 51%);
    }
    60% {
        -webkit-clip-path: polygon(12% 8%, 75% 2%, 92% 45%, 79% 3%, 65% 82%, 3% 11%, 11% 100%, 81% 71%, 5% 52%, 52% 28%, 35% 21%, 33% 33%);
        clip-path: polygon(12% 8%, 75% 2%, 92% 45%, 79% 3%, 65% 82%, 3% 11%, 11% 100%, 81% 71%, 5% 52%, 52% 28%, 35% 21%, 33% 33%);
    }
    61% {
        -webkit-clip-path: polygon(3% 100%, 31% 23%, 48% 74%, 93% 62%, 14% 18%, 23% 57%, 75% 6%, 46% 84%, 74% 74%, 75% 47%, 7% 15%, 96% 90%);
        clip-path: polygon(3% 100%, 31% 23%, 48% 74%, 93% 62%, 14% 18%, 23% 57%, 75% 6%, 46% 84%, 74% 74%, 75% 47%, 7% 15%, 96% 90%);
    }
    62% {
        -webkit-clip-path: polygon(19% 1%, 66% 58%, 83% 70%, 69% 59%, 55% 100%, 95% 31%, 91% 22%, 63% 60%, 15% 19%, 30% 5%, 73% 26%, 24% 61%);
        clip-path: polygon(19% 1%, 66% 58%, 83% 70%, 69% 59%, 55% 100%, 95% 31%, 91% 22%, 63% 60%, 15% 19%, 30% 5%, 73% 26%, 24% 61%);
    }
    63% {
        -webkit-clip-path: polygon(13% 7%, 44% 25%, 81% 42%, 50% 12%, 3% 80%, 39% 32%, 4% 61%, 23% 29%, 28% 36%, 12% 59%, 3% 85%, 79% 37%);
        clip-path: polygon(13% 7%, 44% 25%, 81% 42%, 50% 12%, 3% 80%, 39% 32%, 4% 61%, 23% 29%, 28% 36%, 12% 59%, 3% 85%, 79% 37%);
    }
    64% {
        -webkit-clip-path: polygon(46% 12%, 67% 85%, 76% 79%, 60% 15%, 67% 78%, 89% 35%, 43% 63%, 53% 57%, 56% 95%, 21% 83%, 59% 91%, 100% 45%);
        clip-path: polygon(46% 12%, 67% 85%, 76% 79%, 60% 15%, 67% 78%, 89% 35%, 43% 63%, 53% 57%, 56% 95%, 21% 83%, 59% 91%, 100% 45%);
    }
    65% {
        -webkit-clip-path: polygon(36% 79%, 3% 2%, 61% 80%, 96% 91%, 97% 22%, 87% 30%, 69% 40%, 42% 29%, 11% 73%, 56% 55%, 90% 7%, 41% 95%);
        clip-path: polygon(36% 79%, 3% 2%, 61% 80%, 96% 91%, 97% 22%, 87% 30%, 69% 40%, 42% 29%, 11% 73%, 56% 55%, 90% 7%, 41% 95%);
    }
    66% {
        -webkit-clip-path: polygon(76% 76%, 6% 63%, 85% 56%, 20% 67%, 93% 13%, 95% 97%, 55% 28%, 96% 70%, 34% 95%, 88% 91%, 86% 71%, 96% 5%);
        clip-path: polygon(76% 76%, 6% 63%, 85% 56%, 20% 67%, 93% 13%, 95% 97%, 55% 28%, 96% 70%, 34% 95%, 88% 91%, 86% 71%, 96% 5%);
    }
    67% {
        -webkit-clip-path: polygon(91% 48%, 10% 13%, 95% 9%, 75% 97%, 68% 55%, 16% 68%, 8% 80%, 17% 92%, 14% 20%, 56% 20%, 93% 69%, 38% 34%);
        clip-path: polygon(91% 48%, 10% 13%, 95% 9%, 75% 97%, 68% 55%, 16% 68%, 8% 80%, 17% 92%, 14% 20%, 56% 20%, 93% 69%, 38% 34%);
    }
    68% {
        -webkit-clip-path: polygon(29% 18%, 58% 80%, 60% 36%, 56% 93%, 20% 58%, 6% 25%, 10% 99%, 80% 7%, 2% 56%, 29% 99%, 20% 55%, 44% 36%);
        clip-path: polygon(29% 18%, 58% 80%, 60% 36%, 56% 93%, 20% 58%, 6% 25%, 10% 99%, 80% 7%, 2% 56%, 29% 99%, 20% 55%, 44% 36%);
    }
    69% {
        -webkit-clip-path: polygon(10% 20%, 72% 8%, 87% 30%, 34% 49%, 98% 52%, 3% 67%, 70% 59%, 2% 43%, 84% 15%, 75% 29%, 30% 67%, 67% 14%);
        clip-path: polygon(10% 20%, 72% 8%, 87% 30%, 34% 49%, 98% 52%, 3% 67%, 70% 59%, 2% 43%, 84% 15%, 75% 29%, 30% 67%, 67% 14%);
    }
    70% {
        -webkit-clip-path: polygon(25% 14%, 51% 50%, 83% 12%, 68% 34%, 58% 76%, 31% 19%, 65% 44%, 40% 96%, 29% 60%, 67% 93%, 33% 46%, 60% 24%);
        clip-path: polygon(25% 14%, 51% 50%, 83% 12%, 68% 34%, 58% 76%, 31% 19%, 65% 44%, 40% 96%, 29% 60%, 67% 93%, 33% 46%, 60% 24%);
    }
    71% {
        -webkit-clip-path: polygon(1% 66%, 66% 25%, 72% 28%, 75% 77%, 29% 74%, 44% 12%, 26% 30%, 91% 22%, 58% 59%, 80% 38%, 6% 81%, 5% 57%);
        clip-path: polygon(1% 66%, 66% 25%, 72% 28%, 75% 77%, 29% 74%, 44% 12%, 26% 30%, 91% 22%, 58% 59%, 80% 38%, 6% 81%, 5% 57%);
    }
    72% {
        -webkit-clip-path: polygon(33% 76%, 37% 71%, 10% 96%, 17% 3%, 47% 34%, 96% 78%, 39% 6%, 83% 19%, 69% 86%, 92% 8%, 62% 78%, 27% 27%);
        clip-path: polygon(33% 76%, 37% 71%, 10% 96%, 17% 3%, 47% 34%, 96% 78%, 39% 6%, 83% 19%, 69% 86%, 92% 8%, 62% 78%, 27% 27%);
    }
    73% {
        -webkit-clip-path: polygon(47% 20%, 38% 26%, 32% 63%, 56% 29%, 10% 45%, 4% 34%, 80% 94%, 30% 91%, 8% 10%, 79% 89%, 65% 50%, 31% 60%);
        clip-path: polygon(47% 20%, 38% 26%, 32% 63%, 56% 29%, 10% 45%, 4% 34%, 80% 94%, 30% 91%, 8% 10%, 79% 89%, 65% 50%, 31% 60%);
    }
    74% {
        -webkit-clip-path: polygon(33% 95%, 92% 91%, 72% 95%, 47% 81%, 56% 12%, 61% 8%, 12% 70%, 33% 96%, 29% 53%, 42% 39%, 98% 38%, 3% 83%);
        clip-path: polygon(33% 95%, 92% 91%, 72% 95%, 47% 81%, 56% 12%, 61% 8%, 12% 70%, 33% 96%, 29% 53%, 42% 39%, 98% 38%, 3% 83%);
    }
    75% {
        -webkit-clip-path: polygon(37% 19%, 25% 70%, 42% 49%, 46% 6%, 38% 13%, 92% 89%, 44% 68%, 4% 95%, 12% 90%, 13% 75%, 75% 83%, 87% 47%);
        clip-path: polygon(37% 19%, 25% 70%, 42% 49%, 46% 6%, 38% 13%, 92% 89%, 44% 68%, 4% 95%, 12% 90%, 13% 75%, 75% 83%, 87% 47%);
    }
    76% {
        -webkit-clip-path: polygon(23% 47%, 45% 8%, 1% 37%, 44% 64%, 16% 19%, 88% 57%, 40% 2%, 44% 90%, 73% 84%, 55% 67%, 24% 62%, 86% 77%);
        clip-path: polygon(23% 47%, 45% 8%, 1% 37%, 44% 64%, 16% 19%, 88% 57%, 40% 2%, 44% 90%, 73% 84%, 55% 67%, 24% 62%, 86% 77%);
    }
    77% {
        -webkit-clip-path: polygon(31% 96%, 32% 9%, 53% 51%, 34% 22%, 10% 5%, 68% 20%, 7% 98%, 1% 37%, 13% 49%, 44% 83%, 92% 90%, 69% 21%);
        clip-path: polygon(31% 96%, 32% 9%, 53% 51%, 34% 22%, 10% 5%, 68% 20%, 7% 98%, 1% 37%, 13% 49%, 44% 83%, 92% 90%, 69% 21%);
    }
    78% {
        -webkit-clip-path: polygon(97% 52%, 47% 58%, 75% 82%, 83% 17%, 49% 18%, 82% 75%, 27% 100%, 42% 31%, 30% 65%, 86% 58%, 27% 5%, 23% 98%);
        clip-path: polygon(97% 52%, 47% 58%, 75% 82%, 83% 17%, 49% 18%, 82% 75%, 27% 100%, 42% 31%, 30% 65%, 86% 58%, 27% 5%, 23% 98%);
    }
    79% {
        -webkit-clip-path: polygon(49% 99%, 41% 22%, 14% 34%, 25% 33%, 74% 76%, 52% 27%, 68% 84%, 40% 84%, 96% 6%, 14% 90%, 39% 37%, 15% 25%);
        clip-path: polygon(49% 99%, 41% 22%, 14% 34%, 25% 33%, 74% 76%, 52% 27%, 68% 84%, 40% 84%, 96% 6%, 14% 90%, 39% 37%, 15% 25%);
    }
    80% {
        -webkit-clip-path: polygon(74% 74%, 99% 17%, 92% 49%, 26% 89%, 24% 26%, 36% 69%, 51% 6%, 62% 11%, 49% 95%, 87% 15%, 8% 64%, 96% 23%);
        clip-path: polygon(74% 74%, 99% 17%, 92% 49%, 26% 89%, 24% 26%, 36% 69%, 51% 6%, 62% 11%, 49% 95%, 87% 15%, 8% 64%, 96% 23%);
    }
    81% {
        -webkit-clip-path: polygon(35% 7%, 80% 9%, 28% 3%, 90% 91%, 19% 17%, 30% 37%, 69% 88%, 91% 82%, 86% 82%, 63% 59%, 1% 46%, 79% 2%);
        clip-path: polygon(35% 7%, 80% 9%, 28% 3%, 90% 91%, 19% 17%, 30% 37%, 69% 88%, 91% 82%, 86% 82%, 63% 59%, 1% 46%, 79% 2%);
    }
    82% {
        -webkit-clip-path: polygon(87% 54%, 13% 95%, 39% 57%, 73% 32%, 59% 80%, 17% 69%, 32% 41%, 89% 97%, 88% 6%, 4% 56%, 98% 47%, 16% 84%);
        clip-path: polygon(87% 54%, 13% 95%, 39% 57%, 73% 32%, 59% 80%, 17% 69%, 32% 41%, 89% 97%, 88% 6%, 4% 56%, 98% 47%, 16% 84%);
    }
    83% {
        -webkit-clip-path: polygon(24% 53%, 11% 48%, 35% 98%, 23% 36%, 69% 37%, 18% 81%, 44% 89%, 50% 93%, 82% 2%, 51% 35%, 99% 42%, 57% 56%);
        clip-path: polygon(24% 53%, 11% 48%, 35% 98%, 23% 36%, 69% 37%, 18% 81%, 44% 89%, 50% 93%, 82% 2%, 51% 35%, 99% 42%, 57% 56%);
    }
    84% {
        -webkit-clip-path: polygon(90% 15%, 8% 71%, 97% 71%, 87% 77%, 22% 67%, 58% 50%, 50% 3%, 64% 93%, 39% 32%, 2% 14%, 16% 21%, 10% 62%);
        clip-path: polygon(90% 15%, 8% 71%, 97% 71%, 87% 77%, 22% 67%, 58% 50%, 50% 3%, 64% 93%, 39% 32%, 2% 14%, 16% 21%, 10% 62%);
    }
    85% {
        -webkit-clip-path: polygon(6% 90%, 47% 90%, 84% 38%, 25% 95%, 19% 17%, 46% 98%, 69% 94%, 87% 82%, 99% 25%, 37% 43%, 31% 89%, 64% 85%);
        clip-path: polygon(6% 90%, 47% 90%, 84% 38%, 25% 95%, 19% 17%, 46% 98%, 69% 94%, 87% 82%, 99% 25%, 37% 43%, 31% 89%, 64% 85%);
    }
    86% {
        -webkit-clip-path: polygon(22% 89%, 50% 11%, 86% 56%, 58% 83%, 19% 16%, 27% 18%, 25% 23%, 18% 89%, 82% 41%, 14% 43%, 18% 36%, 22% 13%);
        clip-path: polygon(22% 89%, 50% 11%, 86% 56%, 58% 83%, 19% 16%, 27% 18%, 25% 23%, 18% 89%, 82% 41%, 14% 43%, 18% 36%, 22% 13%);
    }
    87% {
        -webkit-clip-path: polygon(57% 7%, 89% 13%, 45% 32%, 30% 28%, 22% 3%, 43% 34%, 74% 15%, 56% 30%, 27% 37%, 68% 87%, 70% 81%, 44% 45%);
        clip-path: polygon(57% 7%, 89% 13%, 45% 32%, 30% 28%, 22% 3%, 43% 34%, 74% 15%, 56% 30%, 27% 37%, 68% 87%, 70% 81%, 44% 45%);
    }
    88% {
        -webkit-clip-path: polygon(1% 10%, 57% 51%, 22% 16%, 4% 9%, 9% 1%, 3% 20%, 73% 57%, 13% 91%, 85% 40%, 34% 7%, 25% 52%, 7% 100%);
        clip-path: polygon(1% 10%, 57% 51%, 22% 16%, 4% 9%, 9% 1%, 3% 20%, 73% 57%, 13% 91%, 85% 40%, 34% 7%, 25% 52%, 7% 100%);
    }
    89% {
        -webkit-clip-path: polygon(47% 5%, 67% 24%, 70% 36%, 47% 5%, 84% 96%, 28% 13%, 32% 18%, 97% 62%, 66% 6%, 90% 92%, 56% 66%, 96% 45%);
        clip-path: polygon(47% 5%, 67% 24%, 70% 36%, 47% 5%, 84% 96%, 28% 13%, 32% 18%, 97% 62%, 66% 6%, 90% 92%, 56% 66%, 96% 45%);
    }
    90% {
        -webkit-clip-path: polygon(89% 81%, 86% 65%, 98% 94%, 31% 4%, 9% 45%, 96% 27%, 44% 30%, 29% 74%, 54% 55%, 79% 23%, 72% 18%, 4% 91%);
        clip-path: polygon(89% 81%, 86% 65%, 98% 94%, 31% 4%, 9% 45%, 96% 27%, 44% 30%, 29% 74%, 54% 55%, 79% 23%, 72% 18%, 4% 91%);
    }
    91% {
        -webkit-clip-path: polygon(19% 77%, 17% 81%, 99% 48%, 77% 70%, 30% 87%, 79% 46%, 52% 2%, 35% 13%, 32% 15%, 53% 53%, 14% 35%, 18% 11%);
        clip-path: polygon(19% 77%, 17% 81%, 99% 48%, 77% 70%, 30% 87%, 79% 46%, 52% 2%, 35% 13%, 32% 15%, 53% 53%, 14% 35%, 18% 11%);
    }
    92% {
        -webkit-clip-path: polygon(20% 21%, 27% 23%, 46% 72%, 32% 29%, 74% 18%, 86% 41%, 91% 15%, 96% 7%, 92% 100%, 38% 93%, 52% 84%, 97% 32%);
        clip-path: polygon(20% 21%, 27% 23%, 46% 72%, 32% 29%, 74% 18%, 86% 41%, 91% 15%, 96% 7%, 92% 100%, 38% 93%, 52% 84%, 97% 32%);
    }
    93% {
        -webkit-clip-path: polygon(19% 77%, 59% 23%, 95% 12%, 25% 1%, 95% 32%, 72% 76%, 97% 37%, 60% 52%, 34% 10%, 12% 71%, 37% 77%, 27% 51%);
        clip-path: polygon(19% 77%, 59% 23%, 95% 12%, 25% 1%, 95% 32%, 72% 76%, 97% 37%, 60% 52%, 34% 10%, 12% 71%, 37% 77%, 27% 51%);
    }
    94% {
        -webkit-clip-path: polygon(87% 15%, 85% 26%, 95% 57%, 44% 8%, 40% 81%, 9% 57%, 75% 21%, 98% 1%, 58% 28%, 61% 31%, 5% 42%, 78% 26%);
        clip-path: polygon(87% 15%, 85% 26%, 95% 57%, 44% 8%, 40% 81%, 9% 57%, 75% 21%, 98% 1%, 58% 28%, 61% 31%, 5% 42%, 78% 26%);
    }
    95% {
        -webkit-clip-path: polygon(64% 97%, 52% 88%, 23% 19%, 13% 3%, 11% 57%, 85% 82%, 18% 66%, 7% 5%, 28% 48%, 32% 82%, 64% 16%, 91% 83%);
        clip-path: polygon(64% 97%, 52% 88%, 23% 19%, 13% 3%, 11% 57%, 85% 82%, 18% 66%, 7% 5%, 28% 48%, 32% 82%, 64% 16%, 91% 83%);
    }
    96% {
        -webkit-clip-path: polygon(57% 74%, 20% 96%, 9% 93%, 39% 88%, 25% 95%, 26% 98%, 7% 66%, 2% 81%, 99% 81%, 42% 80%, 27% 13%, 69% 85%);
        clip-path: polygon(57% 74%, 20% 96%, 9% 93%, 39% 88%, 25% 95%, 26% 98%, 7% 66%, 2% 81%, 99% 81%, 42% 80%, 27% 13%, 69% 85%);
    }
    97% {
        -webkit-clip-path: polygon(12% 39%, 91% 96%, 38% 88%, 81% 89%, 75% 94%, 61% 21%, 42% 11%, 77% 84%, 28% 32%, 39% 88%, 98% 30%, 12% 61%);
        clip-path: polygon(12% 39%, 91% 96%, 38% 88%, 81% 89%, 75% 94%, 61% 21%, 42% 11%, 77% 84%, 28% 32%, 39% 88%, 98% 30%, 12% 61%);
    }
    98% {
        -webkit-clip-path: polygon(16% 6%, 11% 58%, 53% 66%, 77% 60%, 85% 59%, 36% 80%, 37% 100%, 66% 5%, 10% 20%, 10% 39%, 56% 28%, 23% 44%);
        clip-path: polygon(16% 6%, 11% 58%, 53% 66%, 77% 60%, 85% 59%, 36% 80%, 37% 100%, 66% 5%, 10% 20%, 10% 39%, 56% 28%, 23% 44%);
    }
    99% {
        -webkit-clip-path: polygon(82% 16%, 95% 53%, 86% 9%, 87% 62%, 48% 99%, 31% 74%, 78% 16%, 4% 62%, 63% 39%, 50% 75%, 14% 71%, 15% 43%);
        clip-path: polygon(82% 16%, 95% 53%, 86% 9%, 87% 62%, 48% 99%, 31% 74%, 78% 16%, 4% 62%, 63% 39%, 50% 75%, 14% 71%, 15% 43%);
    }
    100% {
        -webkit-clip-path: polygon(63% 97%, 99% 85%, 32% 51%, 65% 79%, 32% 26%, 95% 25%, 65% 60%, 77% 13%, 52% 35%, 94% 62%, 64% 44%, 44% 4%);
        clip-path: polygon(63% 97%, 99% 85%, 32% 51%, 65% 79%, 32% 26%, 95% 25%, 65% 60%, 77% 13%, 52% 35%, 94% 62%, 64% 44%, 44% 4%);
    }
    100% {
        -webkit-filter: invert(100%);
        filter: invert(100%);
    }
}
